// USEFUL LESS MIXINS for Flawless Semantics
////////////////////
// MICRO CLEARFIX // http://nicolasgallagher.com/micro-clearfix-hack/
////////////////////

.clearfix() {
	*zoom:1;
	
	&:before,
	&:after {
	    content:"";
	    display:table;
	}
	&:after {
	    clear:both;
	}
}

///////////////////////////
// EQUAL HEIGHT COLUMNS // Sean Steindl aka http://github.com/laughingwithu
///////////////////////// 
// wrap parent of equal height column this should be a row element
.col_equal_wrap() {
	overflow: hidden; 
    display:block;
	position:relative;
}
// make this an equal height column
.col_equal() {
	padding-bottom:32767px;
    margin-bottom:-32767px;	
}
// remove equal height column (useful when we do responsive design as we might not care if they are equal heights
.col_equal_remove() {
	padding-bottom: 0;
	margin-bottom: 0;
}

// Show the Grid a mixin by ninique at https://github.com/ninique and adapted by Sean Steindl

//Add to body to show grid during development
.showGrid(){
@_column-percent: @column-width/(@column-width+@gutter-width)*100%;
@_gutter-percent: @gutter-width/(@column-width+@gutter-width)*50%;

background-size: @total-width*((@column-width+@gutter-width) / @gridsystem-width);
background-image: -moz-linear-gradient(left, rgba(255,0,0,0.05) 0%,rgba(255,0,0,0.05) @_gutter-percent,rgba(255,0,0,0.1) @_gutter-percent,rgba(255,0,0,0.1) @_gutter-percent+@_column-percent,rgba(255,0,0,0.05) @_gutter-percent+@_column-percent);
background-image: -webkit-linear-gradient(left, rgba(255,0,0,0.05) 0%,rgba(255,0,0,0.05) @_gutter-percent,rgba(255,0,0,0.1) @_gutter-percent,rgba(255,0,0,0.1) @_gutter-percent+@_column-percent,rgba(255,0,0,0.05) @_gutter-percent+@_column-percent);
   background-image: -o-linear-gradient(left, rgba(255,0,0,0.05) 0%,rgba(255,0,0,0.05) @_gutter-percent,rgba(255,0,0,0.1) @_gutter-percent,rgba(255,0,0,0.1) @_gutter-percent+@_column-percent,rgba(255,0,0,0.05) @_gutter-percent+@_column-percent);
background-image: -ms-linear-gradient(left, rgba(255,0,0,0.05) 0%,rgba(255,0,0,0.05) @_gutter-percent,rgba(255,0,0,0.1) @_gutter-percent,rgba(255,0,0,0.1) @_gutter-percent+@_column-percent,rgba(255,0,0,0.05) @_gutter-percent+@_column-percent);
background-image: linear-gradient(left, rgba(255,0,0,0.05) 0%,rgba(255,0,0,0.05) @_gutter-percent,rgba(255,0,0,0.1) @_gutter-percent,rgba(255,0,0,0.1) @_gutter-percent+@_column-percent,rgba(255,0,0,0.05) @_gutter-percent+@_column-percent);
}