h1 {
	font-family: Georgia;
	font-size: 2em;
	padding: 1em 0;
	color: #666;
	text-align:center;
	a {
			color: #666;
			text-decoration: underline;
		}
}

h2 {
	font-family: Georgia;
	font-size: 1.5em;
	padding: 5.25em 0;
	color: #fff;
	background-color: #3E97D1;
	text-align: center;
}

h3 {
	color: #fff;
	margin: 1em 0;
	text-align: center;
	font-weight: bold;
	font-size: 1.1em;
}

ul#boxes li {
	font-family: Georgia;
	font-size: 1.33em;
	padding: 2.5em 0;
	color: #fff;
	background-color: #3E97D1;
	text-align: center;
}

code {
	display:block;
	color: #666;

}

p {
	color: #666;
}

#maincolumn section, #sidebar {
	background-color: #fff;
	padding:0;
}

#page {
	border: 1px dashed #333;
}

section {
    background-color: #D5EEFB;
    line-height: 2.427em;
    text-align: center;
	padding: 1em 0;
	div {
		color:#fff;
		min-height: 7.5em;
		line-height: 1.618em;
		text-align: left;
		background-color: #3E97D1;
		margin-bottom: 2em;
		code {
			color: #fff;
		}
		aside, article {
			background-color: #0A67A3;
			min-height: 6.472em;
			line-height: 1.618em;
			padding: 1.5em 0;
			text-align: left;
			margin-bottom: 2em;
		}
	}
}
#nesting {
	.wrapper {
		background-color:#D5EEFB;
		.nested1 {
			background-color: #3E97D1;
			}
		.nested2 {
			background-color: #3E97D1;
			}
		.nested3 {
			background-color: #3E97D1;
		}
	}
}